<p>Are these ready in order?</p>

<form action="">
  <input type="checkbox" />
  <label for=""></label>
  <input type="checkbox" />
  <label for=""></label>
  <input type="checkbox" />
  <label for=""></label>
  <input type="checkbox" />
  <label for=""></label>
  <input type="checkbox" />
  <label for=""></label>
</form>
